<%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
<%= f.hidden_field :sender, value: current_user.id %>
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>
  </div>
  <span class="pull-right">
    <%= f.submit "Send Message", class: "btn btn-success" %>
  </span>
<% end %>
