<% if message.sender==current_user %>
<div class="well"  align="right">
  <%= message.content %>
  <span><%= time_ago_in_words(message.created_at) %> Ago</span>
</div>
<% else %> 
<div class="well" align="left">
  <%= message.content %>
  <span><%= time_ago_in_words(message.created_at) %> Ago</span>
</div>
<% end %> 
