



<head>
<style>

.updating{
    margin-left: 60px;
    
    

    
}

.title{
   margin-right: 680px;
   
}

.cancelar{
    border: 1px solid black;
    box-sizing: border-box;
   
}

.border-right{
    border-right: 1px solid black;
}


</style>
</head>



<div class="title">
    <div class="row">
        <div class="col-sm-12">
        <center>
            <h2>Update <%= resource_name.to_s.humanize %></h2>
        </center>
        </div>
    </div>
</div>




<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


<div class="row">
    <div class="col-sm-6 border-right">
        <div class="updating">
            <div><%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true %></div>

                <div><%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %> </div>
                <div><%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %> </div>

                <div><%= f.label :date_of_birth %><br />
                <%= f.date_select :date_of_birth %></div>
 

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? &&    resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                <br />
                <m><%= @minimum_password_length %> characters minimum</em>
                <% end %>
            </div>
      
            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
            </div>

  
            <div><%= f.check_box :trainer, {}, true %> <%= f.label :trainer, "Trainer?" %> </div>

            <div class="actions">
                <%= f.submit "Update" %>
            </div>
  
        </div>
  
    </div>
    <% end %>


    <div class="cancelar">
        <div class="col-sm-6">
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
        </div>
    </div>

</div>

