
<head>
<style>

body {
    background: url('<%= asset_path 'inicio.jpg' %>');
    
}

.name,.gender,.date,.email,.pass,.pass2,.train{
    color: white ;
}

</style>
</head>






<center>
<h2 style="color:#FFFFFF"><b>Sign up</b></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


    <div class="name">
    <div><%= f.label :name %><br />
    </div>
        <%= f.text_field :name, autofocus: true %></div>

    <div class="gender">
    <div><%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %> </div>
    <div><%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male"
    %> </div>
    </div>
    
    
    <div>
    <div class="date"><%= f.label :date_of_birth %><br /></div>
    <%= f.date_select :date_of_birth %></div>
    
    
  <div class="field">
    <div class="email">
    <%= f.label :email %><br />
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="pass">
    <%= f.label :password %>
    
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    </div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <div class="pass2"
    <%= f.label :password_confirmation %><br />
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="train">
  <div><%= f.check_box :trainer, {}, true %> <%= f.label :trainer, "Trainer?" %> </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
