
<head>
<style>


.chateo{
    margin-top: 40px;
    margin-left: 105px;
}

.lista{
    margin-left: 50px;
}


</style>
</head>



<div class="chateo">
    <h1>Chats</h1>
</div>

<% @conversations.each do |conversation| %>
<div class="lista">
    <% if conversation.user == current_user || conversation.receptor==current_user %>
        <% if conversation.user == current_user  %>
            <% other=conversation.receptor %>
        <% else %>
            <% other=conversation.user %>
        <% end %>
        <h2><%= link_to other.name, conversation %></h2>


        <%= other.email %>
    <% end %>
</div>
<% end %>
