<div class="row">
  <div class="col-md-7 col-md-offset-2">
  <% if @conversation.user == current_user  %>
            <% other=@conversation.receptor %>
        <% else %>
            <% other=@conversation.user %>
        <% end %>
    <h3><%= other.name%></h3>

    <div>

      <%= render @conversation.messages %>
      
      <h6>New Message</h6>
      <%= render 'messages/form' %>
    </div>
  </div>
</div>
