

<head>
<style>

.titulo{
    margin-left: 60px;
}

.lista{
    margin-left: 100px;
}

</style>
</head>



<div class="titulo">
    <h3>New Chat</h3>
    <p>Select a user:</p>
</div>


<div class="lista">
    <% @users.each do |user| %>
    <div>
  
  
    
      <% if user != current_user %> 

      <%= link_to  user.name, conversations_path(id_receptor: user.id, user_id: current_user.id), method: 'post' %>
        <%= user.email %>
      <% end %>
    </div>
      <br>
<% end %>
</div>
