<html lang="en">
<head>

<title>Style</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><%= link_to 'ChatApp', conversations_index_path %></li>
      <li><%= link_to 'Messages', conversations_index_path %></li>
      <li><%= link_to 'Contacts', users_index_path %></li>
      <li><%= link_to 'Profile', edit_user_registration_path %></li>
      <li><%= link_to 'Sign Out', users_sign_out_path %></li>
     
    </ul>
  </div>
</nav>


</body>
</html>
