

<head>
<style>

body {
    background: url('<%= asset_path 'inicio.jpg' %>');
    
}
    

.label1, .label2, .label3{
    color: white ;
}

</head>
</style>

<center>
<h2 style="color:#FFFFFF"><b>Log in</b></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="field">
    <div class="label1">
    <%= f.label :email %><br />
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="label2">
    <%= f.label :password %><br />
    </div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div class="label3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>

